@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Dancing+Script&family=Sacramento&family=Satisfy&family=Allura&family=Marck+Script&display=swap');

main {
  background-color: #faffca;
  margin: 50px;
  border-radius: 30px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  border: 6px solid transparent;
  background-image: linear-gradient(#faffca, #87cefa), linear-gradient(90deg, purple, #87cefa, #ffafca);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  h1 {
    padding: 70px;
    padding-top: 70px;
    font-size: 375%;
    color: purple;
    text-align: center;
  }
}


#heading {
  color: purple;
  padding-bottom: 20px;
  font-size: 200%;
}

#form {
  padding: 70px;

  #heading {
    color: purple;
    padding-top: 40px;
  }
}


#warn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#warn-text {
  color: red;
  font-weight: 500;
  text-align: center;
}

label {
  margin-right: 150px;
  color: purple;
  font-weight: 500;
  font-size: 25px;
}

#create-hero-text label::before {
  content: "• ";
  color: purple;
}

input,
select {
  margin-bottom: 20px;
  margin-left: 40px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid purple;
  border-radius: 10px;
  background-color: #faffca;
  color: purple;
}

input.focus,
select:focus {
  border-width: 2px;
  outline: none;
  background-color: #faffca;
  border-color: purple;
  box-shadow: 0 0 5px purple;
}

#t-input {
  display: inline-block;
  position: relative;
  align-items: center;

  img {
    width: 23px;
    margin-bottom: -2px;
  }
}

#herohero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;

}

#create-hero {
  padding-left: 70px;
  margin-top: -80px;

}

#create-hero-img {
  border: 2px solid purple;
  width: 250px;
  transition: transform 0.3s ease;
}

#create-hero-img:hover {
  transform: scale(1.01);
}

#here {
  margin-left: -80px;
}

#error-message {
  display: none;
  align-items: center;
  width: 320px;
  margin-top: 10px;
  margin-bottom: -10px;
  text-align: center;
  border: 2px solid red;
  padding: 5px;
  background-color: #faffca;
  color: red;
  font-size: 16px;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}


#Exam {
  margin-left: 140px;
}

#dcollege {
  margin-left: 56px;
  ;
}

#schooling {
  margin-left: 220px;
}

#rad {
  display: inline;
}

#rd {
  margin-right: 250px;
}

input[type="radio"] {
  margin-left: 10px;
  margin-right: 10px;
  transform: scale(1.7);
  font-size: 24px;
}

.fbutton {
  padding: 15px;
  font-size: 15px;
  align-items: center;
  display: block;
  margin: 0 auto;
  background: #c2185b;
  font-weight: 600;
  transition: background 0.3s, transform 0.2s;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.fbutton:hover {
  background: #f3b4c9;
  transform: scale(1.05);
  color: black;
}

#centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tab,
#tab2 {
  border: 5px solid purple;
  text-align: center;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

  td,
  th {
    font-size: 15px;
    border: 2px solid purple;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    color: purple;
    font-weight: 500;
    text-align: center;
  }
}

#choice {
  text-align: center;
  border-radius: 10px;

  td {
    font-size: 15px;
    border: 5px solid purple;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    color: purple;
    font-weight: 500;
    text-align: center;
  }
}

.self-study {
  color: #fae0e8 !important;
  border: 2px solid purple !important;
  background: purple !important;
}

.coaching {
  color: black !important;
  border: 2px solid red !important;
  background: red !important;
}

#hour-limit-message {
  color: red;
  font-weight: 500;
  margin: 8px 0;
  text-align: center;
}


#ftable {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  background: white;
  border: 2px solid purple;
  border-radius: 0%;

  td,
  th {
    font-family: 'Caveat', cursive;
    font-weight: 300;
    border-radius: 0%;
    color: purple;
  }

  td {
    cursor: text;
  }
}

#timeHeader {
  width: 90px;
  text-align: center;
  border: 1px solid #000;
}



.temp {
  filter: blur(2px);
  margin: 10px;
  height: 100px;
  width: 200px;
  border: 2px solid purple;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}


#overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  pointer-events: auto;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  object-fit: cover;
  border: 2px solid purple;
  border-radius: 5px;
  background: #fff;
}

#overlay-img {
  margin: 0px 0px -5px 0px;
  height: 80vh;
  max-height: fit-content;
}

#overlay-div {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.over-btn {
  height: 6vh;
  width: 6vh;
  margin: 0px;
  margin: 2vh 0;
  background-size: cover;
  cursor: pointer;
  border-radius: 90%;
}

.over-btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.label-icon {
  width: 50px;
  user-select: none;
  margin-top: 40px;
  margin-right: 10px;;
}

#label-pair {
  padding-left:10px;
  display:flex;
  align-items: flex-start;
}