.nav-bar {
  padding: 20px 0px;
}

#nav-img img {
  width: 200px;
}

.nav-bar a {
  padding: 0px;
}

.nav-bar #navimg2 {
  cursor: pointer;
  display: flex;
  width: 70px;
  height: 50px;
  padding-right: 20px;
  padding-top: 0px;
  filter: invert(17%) sepia(97%) saturate(7472%) hue-rotate(271deg) brightness(94%) contrast(101%);
}

#nav-content li {
  display: none;
}

.main {
  padding: 0;
}

.hero {
  display: block;

}

#main-img {
  display: none;
}

.hero-text {
  font-size: 70%;
  text-align: left;
  margin-left: 30px;
  ;
}

.hero-sub {
  display: block;
  margin-top: 25px;
  font-size: 20px;
  margin-left: 30px;
  text-align: left;
  text-shadow:
    0 0 5px #751646,
    0 0 10px #751646,
    0 0 20px #751646;
  padding-bottom: 80px;
}

#hero-button {
  font-size: 15px;
  margin-top: 40px;
  padding: 15px;
}

#hton {
  padding-bottom: 120px;
}

.ename {
  display: block;

  p {
    display: none;
  }

  img {
    width: 90px;
    transform: rotate(45deg);
    margin-left: -50px;
    padding-top: 10px;
  }
}

#nav-account-link {
  display: block;
  align-self: center;
}











/*create.css */

#main-h {
  font-size: 170%;
  padding: 30px;
}

#form {
  padding: 10px;
  text-align: center;
}

#heading {
  padding-bottom: 10px;
  margin-top: -30px;
}

.hied {
  margin-top: -30px;
}

#rad {
  margin-top: 15px;
  display: block;
}

#tab td,
th,#tab2 td,th {
  font-size: 12px;
}

#main-create {
  margin: 10px;
  border-radius: 15px;
  padding: 10px;
}

#form {
  padding: 20px 5px;
}

h1,
#heading {
  font-size: 150%;
  padding: 20px 0 10px 0;
}

label {
  margin-right: 10px;
  font-size: 18px;
}

input,
select {
  margin-left: 0;
  font-size: 16px;
  padding: 8px;
}

#Exam,
#schooling {
  margin-left: 0;
}

#rd {
  margin-right: 0;
}

button {
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#ftable {
  
  font-size: 10px;
  max-width: 98vw;
}

#ftable th:first-child,
#ftable td:first-child,
#timeHeader {
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
}


#ftable td,
#ftable th {
  font-size: 10px;
}


#Sunday {
  font-size: 70%;
  text-align: center;
}

.ftable-wrapper {
    width: 90vw;
    min-width: 0;
    overflow-x: auto;
    display: block; /* or flex, but block is fine for scroll */
  }
  #ftable {
    min-width: 400px; /* or whatever fits your columns */
    width: max-content;
    margin: 0 auto;
  }

   #tab2 td, th {
    padding:10px 0;
    box-sizing: border-box;
    width:40px;
    min-width: 40px;
    }