*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Inter','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar{
  background: linear-gradient(90deg, purple, #87cefa, white);
  display:flex;
  justify-content:space-between;
  flex-wrap:nowrap;
  padding:20px;
}

  nav img{
    width:180px;
  }
  
  nav ul{
    padding-top:12px;
    list-style: none;
    font-weight:400;
  }

  nav li{
    display:inline;
  }
  
  nav a{
      padding:25px;
      text-decoration:none;
      color: purple;
      font-weight:500;
      transition:500ms ease;
    }

nav a:hover{
    font-size:18px;
}


.hero{
    background-color:#bc9aaf;
    padding:70px;
    padding-top:10px;
    font-size: xx-large;
}

.hero img{
    width:100px;
    opacity:0;
    transition:500ms ease;
}

.hero img:hover{
    opacity:1.0;
}

#stext{
  color:white;
  transition:500ms ease;
}

#stext:hover{
  color:black;
}

@media(max-width:300px){
  nav img{
    width:180px;
  }
  
  
}